<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
	<title>会员管理系统</title>
	<link href="../styles/kendo/kendo.common.min.css" rel="stylesheet" />
	<link href="../styles/kendo/kendo.default.min.css" rel="stylesheet" />
	<link href="../styles/bootstrap.min.css" rel="stylesheet" />
	<link href="../styles/icon/iconfont.css" rel="stylesheet" />
	<link rel="stylesheet" href="../styles/cd.css" />
	<link href="../styles/admin.css" rel="stylesheet" />
	<link href="../styles/member_manage.css" rel="stylesheet" />
</head>
<body data-type="default" data-sender="<%= user_id %>">
	<header>
		<p>会员管理系统</p>
	</header>
	<div id="wrap">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h5 class="modal-title" id="myModalLabel">
							创建用户
						</h5>
					</div>
					<div class="modal-body">
						<div class="input-group">
						  <span class="input-group-addon" id="basic-addon1">序列号</span>
						  <input type="text" class="form-control province" placeholder="序列号" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消
						</button>
						<button type="button" class="btn btn-primary" onclick="sub();">
							提交
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
		<div class="left-bar">
			<div class="bar-top">
				<!-- <div class="search">搜索</div> -->
				<div class="navbar-form sear" role="search">
					<div class="form-group">
						<input type="search" id="search" class="form-control" placeholder="姓名，手机，公司">
						<span class="iconfont icon-form-del" onclick="cl()"></span>
					</div>
					<button class="btn btn-default" onclick="search()">搜索</button>
				</div>
				<!-- <div class="sort search">排序</div> -->
				<div class="dropdown">
				    <button type="button" class="btn dropdown-toggle sel" id="dropdownMenu1" data-toggle="dropdown">请选择排序方式 <span class="caret"></span>
				    </button>
				    <button type="button" class="btn btn-default inputInfo" onclick="message()">消息推送</button>
				    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				    	<li role="presentation" data-key="all">
				            <a role="menuitem" tabindex="-1" href="#">请选择排序方式</a>
				        </li>
				        <li role="presentation" data-key="checked">
				            <a role="menuitem" tabindex="-1" href="#">未审核</a>
				        </li>
				        <li role="presentation" data-key="score">
				            <a role="menuitem" tabindex="-1" href="#">积分</a>
				        </li>
				    </ul>
				</div>
				<div class="search" style="margin-top:33px">
					<p class="list-left-tit">会员列表</p>
					<!-- <p class="list-right-tit" onclick="newCpy()">
						<span class="cpy-add">新增</span>
						<span class="iconfont icon-add"></span>
					</p> -->
				</div>
			</div>
			<div class="bar-bottom">
				<ul>
					<% for(var i=0;i<result.length;i++){ %>
						<li onclick="checkCpy(this);" data-name="<%= result[i].name %>" data-phone="<%= result[i].phone %>"> 
							<p><%= result[i].name %></p>
						</li>
					<% } %>
				</ul>
			</div>
			<div class="page" data-page="1">
				<button type="button" class="btn btn-primary prev_page" onclick="prev()">上一页</button>
				<span>第
					<span class="page_num">1</span>
				页</span>
				<button type="button" class="btn btn-primary next_page" onclick="next()">下一页</button>
			</div>
		</div>
		<div class="main">
			<div id="myCarousel" class="carousel slide" style="overflow:hidden">
				<div class="carousel-inner">
					<div class="pic active">
						<!-- <img src="http://iph.href.lu/440x200?text=朗杰测控"> -->
					</div>
				</div>
			</div>
			<div class="search cpy-text">
				<p class="left-tit">会员信息</p>
				<p class="right-score">
					<span class="member_type"></span>:
					<span class="member_score"></span>分
				</p>
			</div>
			<div class="table-wrap">
				<h4>评估</h4>
				<input id="slider" style="border:none;" class="balSlider" value="" />
				<table class="table table-bordered">
					<tbody>
						
					</tbody>
				</table>
			</div>
		</div>
		<div class="right-bar">
			<div class="search contacts-text">关联</div>
			<div class="contacts">
				<ul>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="my-mask"></div>
	<div class="modal-dialog my-dialog up-dialog qweqewqe">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="myModalLabel">消息推送</h5>
			</div>
			<div class="modal-body">
				<div class="input-group g">
					<div class="page1">
						<div class="radio">
						  <label>
						    <input type="radio" name="radio" onchange="selectRadio(this)" checked value="self">
						    自定义
						  </label>
						  <label>
						    <input type="radio" name="radio" onchange="selectRadio(this)" value="allMember">
						    所有人
						  </label>
						  <label>
						    <input type="radio" name="radio" onchange="selectRadio(this)" value="info">
						    信息不完善用户
						  </label>
						  <label>
						    <input type="radio" name="radio" onchange="selectRadio(this)" value="portrait">
						    缺头像用户
						  </label>
						</div>
						<div class="navbar-form sear t" style="padding: 0px" role="search">
							<div class="form-group">
								<input type="search" class="form-control k_w" placeholder="姓名，手机，公司">
							</div>
							<button class="btn btn-default" onclick="getItems()">搜索</button>
						</div>
						<div class="_select t">
							<div class="_select_left">
								<ul class="sns">

								</ul>
							</div>
							<div class="_select_right"></div>
						</div>
					</div>
					<div class="page2" style="display:none;">
						<div class="radio" style="padding-left: 30px;">
						  <label style="padding-left: 35px;">
						    <input type="radio" name="radio2" onchange="listenTemp(this);" checked value="singleMsg">单消息模板
						  </label>
						  <label style="padding-left: 35px;">
						    <input type="radio" name="radio2" onchange="listenTemp(this);" value="linkMsg">带链接模板
						  </label>
						</div>
						<form class="form-horizontal">
						 <div class="form-group">
						    <label for="form_tit" class="col-sm-2 control-label">标题</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" id="form_tit" placeholder="请输入标题">
						    </div>
						  </div>
						  <div class="form-group _link" style="display:none;">
						    <label for="form_link" class="col-sm-2 control-label">链接</label>
						    <div class="col-sm-10">
						      <input type="text" class="form-control" id="form_link" placeholder="请输入链接">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="form_link" class="col-sm-2 control-label">正文</label>
						    <div class="col-sm-10">
						      <textarea class="form-control" rows="10" placeholder="请输入正文"></textarea>
						    </div>
						  </div>
						 </form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearAll()">清空</button>
				<button type="button" class="btn btn-primary" onclick="comfirm()">确定</button>
			</div>
		</div>
	</div>
</body>
<script src="../js/kendo/jquery.min.js" type="text/javascript"></script>
<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/kendo/kendo.all.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/member_manage.js" type="text/javascript"></script>
<script>
	var width = window.innerWidth;
	var height = window.innerHeight;
	$('#wrap').height(height-50);
	$('body').height(height-50);
	$('.bar-bottom').height(height-270);
	$('.table-wrap').height(height-320);
	$('.contacts').height(height-100);
	// var _data = JSON.parse('<%- JSON.stringify(result)%>');
</script>
</html>